* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f2f3f5;
}

.logo {
  padding-left: 2em;
  height: 6em;
}

/*-----------------------
HORIZONTAL NAVIGATION BAR
-----------------------*/

h1 {
  position: relative;
  padding-left: 15px;
}

.nav-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  padding: 20px 0;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links li {
  position: relative;
  background-color: #fff;
  list-style: none;
}

.nav-links li a {
  font-size: 17px;
  display: block;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.nav-links li a:hover {
  background-color: #0096ff;
  color: #fff;
}

/*----------------------
LOGIN and SIGNUP Buttons
----------------------*/

.login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-signup li {
  position: relative;
  background-color: #fff;
  list-style: none;
}

.login-signup li a {
  font-size: 15px;
  display: block;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.login-signup li a:hover,
.login-signup li a:active {
  background-color: #0096ff;
  color: #fff;
}

/*---------------------
VERTICAL NAVIGATION BAR
---------------------*/

.menu-links {
  list-style-type: none;
  margin: 0;
  padding-top: 15px;
  width: 220px;
  background-color: #f2f3f5;
}

.menu-links a {
  display: block;
  color: #000;
  padding: 12px 18px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.menu-links a:hover {
  background-color: #ccc;
  color: #000;
}

/*--------------------
LOGIN and SIGN-UP FORM
--------------------*/

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.login-form,
.signup-form {
  padding: 20px;
}

form {
  /* border: 2px solid #000; */
  width: 25%;
  height: 30vh;
}

form label {
  font-weight: 600;
}

form input[type='text'],
input[type='password'] {
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  width: 100%;
}

form input[type='checkbox'] {
  margin: 10px 0;
}

.login-button,
.signup-button {
  width: 100%;
  background-color: #0096ff;
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: #000;
  padding: 10px 20px;
  margin: 8px 0;
  transition: 0.3s ease-in-out;
}

.login-button:hover,
.login-button:active,
.signup-button:hover,
.signup-button:active {
  color: #fff;
}

/*----
FOOTER
----*/

footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 50px;
  text-align: center;
}

footer p {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  align-items: center;
  justify-content: center;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-top: 15px;
}

footer ul li {
  display: inline;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

footer a {
  padding: 10px;
  color: #000;
}

a:hover,
a:active {
  color: #0096ff;
}
